<!DOCTYPE html>
<html>
<head>
  <title>Contact Us - Tiffin Seva</title>
</head>
<body>
  <h1>Contact Us</h1>
  <p>If you have any questions or complaints regarding your order, please reach out:</p>
  <ul>
    <li>Email: support@tiffin-seva.com</li>
    <li>Phone: +91-9621965441</li>
    <li>Address: Dadra Musafirkhanan, Sultanpur, UP, India</li>
  </ul>
</body>
</html>
