<!DOCTYPE html>
<html>
<head>
  <title>Shipping & Delivery Policy - Tiffin Seva</title>
</head>
<body>
  <h1>Shipping & Delivery Policy</h1>
  <p>We deliver food to the address specified at checkout. Delivery times depend on location and order size. In case of delays, our team will inform you promptly.</p>
</body>
</html>